body {
    font-family: helvetica;
    margin-left: 20px;
    margin-top: 20px;
}

.todoList {
    margin-top: 2%;
    margin-left: 2%;
}

.todoListItem {
    margin-bottom: 2%;
}

.todoListItemDone {
    margin-bottom: 2%;
    text-decoration: line-through;
    color: grey;
}

.accordian {
    margin-bottom: 2%;
}

.daysRepeated {
    border: solid;
    border-width: thin;
    margin: 1%;
    padding: 10%;
}