body {
    font-family: helvetica;
    margin-left: 20px;
    margin-top: 20px;
}

.todoList {
    margin-top: 2%;
    margin-left: 2%;
}

.todoListItem {
    margin-bottom: 2%;
}

.accordian {
    margin-bottom: 2%;
}